<!--
  Generated template for the SignupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Signup</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="formGroup" (ngSubmit)="signupUser(); $event.preventDefault()">
    <ion-item>
      <ion-label stacked>Name*</ion-label>
      <ion-input formControlName="name" type="text"></ion-input>
    </ion-item>
    <p class="danger" *ngIf="formGroup.controls.name.dirty && formGroup.controls.name.errors" margin-left>Invalid value.</p>
    <ion-item>
      <ion-label stacked>Email*</ion-label>
      <ion-input formControlName="email" type="text"></ion-input>
    </ion-item>
    <p class="danger" *ngIf="formGroup.controls.email.dirty && formGroup.controls.email.errors" margin-left>Invalid value.</p>
    <ion-list radio-group formControlName="type">
      <ion-list-header>
        Client Type
      </ion-list-header>
      <ion-item>
        <ion-label>Person</ion-label>
        <ion-radio checked="true" value="1"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Company</ion-label>
        <ion-radio value="2"></ion-radio>
      </ion-item>
    </ion-list>

    <ion-item>
      <ion-label stacked>NIF</ion-label>
      <ion-input formControlName="nif" type="text"></ion-input>
    </ion-item>
    <p class="danger" *ngIf="formGroup.controls.nif.dirty && formGroup.controls.nif.errors" margin-left>Invalid value.</p>
    <ion-item>
      <ion-label stacked>Password*</ion-label>
      <ion-input formControlName="password" type="password"></ion-input>
    </ion-item> 
    <p class="danger" *ngIf="formGroup.controls.password.dirty && formGroup.controls.password.errors" margin-left>Invalid value.</p>
    <ion-item>
      <ion-label stacked>Address*</ion-label>
      <ion-input formControlName="address" type="text"></ion-input>
    </ion-item>
    <p class="danger" *ngIf="formGroup.controls.address.dirty && formGroup.controls.address.errors" margin-left>Invalid value.</p>
    <ion-item>
      <ion-label stacked>Number*</ion-label>
      <ion-input formControlName="number" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Complement</ion-label>
      <ion-input formControlName="complement" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>District</ion-label>
      <ion-input formControlName="district" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>City Id*</ion-label>
      <ion-input formControlName="cod" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Phone 1*</ion-label>
      <ion-input formControlName="phone1" type="text"></ion-input>
    </ion-item>
    <p class="danger" *ngIf="formGroup.controls.phone1.dirty && formGroup.controls.phone1.errors" margin-left>Invalid value.</p>
    <ion-item>
      <ion-label stacked>Phone 2</ion-label>
      <ion-input formControlName="phone2" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Phone 3</ion-label>
      <ion-input formControlName="phone3" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>State*</ion-label>
      <ion-select formControlName="stateId" (ionChange)="updateCities()">
        <ion-option *ngFor="let state of states; first as f" [value]="state.id" [selected]="f">{{state.name}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label stacked>City*</ion-label>
      <ion-select formControlName="cityId">
        <ion-option *ngFor="let city of cities" [value]="city.id">{{city.name}}</ion-option>
      </ion-select>
    </ion-item>
    <button ion-button block type="submit" [disabled]="formGroup.invalid">Sign Up</button>
  </form>
</ion-content>